<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2 class="created">Targetを登録しました。</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="to-input">
        <%= button_to "Taskを入力する", new_target_task_path(@target.id), method: :get %>
      </div>
    </div>
</div>