<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 trgt-dscrptn">
    <div><p>Targetを編集してください</p></div>
      <div><img src="/assets/target.jpg" alt="Target"></div>
    </div>
    <div class="col-sm-5 col-md-5 target-form">
      <%= form_for @target do |f| %>
        <div>
          <%= f.text_field :name, placeholder: 'Target名' %>
        </div>
        <div>
          <%= f.text_area :text, placeholder: 'メモ',  cols: "30", rows: "10" %>
        </div>
        <div>
          <%= f.submit "登録" %>
        </div>
      <% end %>
    </div>
  </div>
</div>