<% unless current_user.full_profile? %>
  <div class="container description">
    <div class="row">
      <div>
        <div class="col-xs-12 col-md-7">
          <div class="description-field">
          <div class="description-message">①プロフィールを登録しましょう</div>
          <div class="description-message">②目標(Target)を登録しましょう</div>
          <div class="description-message">③次に目標達成に必要な作業(Task)を登録しましょう</div>
          <div class="description-last">④最後に作業を具体的に分割してTodoを登録しましょう</div>
<!--           <div><a href="http://ms9i.hatenablog.com/entries/2015/09/09" style="color:orange;">※詳しい使い方はこちらをクリックしてください</a></div> -->
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <img src="/assets/todo-s.jpg" alt="Description"  class="description-img">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
          <h3 class="input-prof">プロフィールのすべての項目の登録をお願いします</h3>
          <div class="to-prof-edit">
          <%= button_to 'プロフィールを登録する', edit_user_path(current_user.id), method: :get %>
          </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
         <div class="message">
          どんなに大きなTargetでも、小さなTodoの組み合わせでできているはずです。Todoを完了して、Targetを達成しましょう！
         </div>
         <% if @targets.count == 0 %>
          <div class="first-target"><%= button_to "Targetを登録する", new_target_path, method: :get %></div>
         <% end %>
        <div class="rail-sortable">
          <%= render :partial => "target", :collection => @targets %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= paginate(@targets) %>
  </div>
<% end %>