<% unless current_user.full_profile? %>
  <div class="container description">
    <div class="row">
      <div>
        <div class="col-xs-12 col-md-7">
          <div class="description-field">
          <div style="color: #000;">■使い方</div>
          <div class="description1">①まずは目標(Target)を登録しましょう</div>
          <div class="description2">②次に目標達成に必要な作業(Task)を登録しましょう</div>
          <div class="description3">③最後に作業を具体的に分割してTodoを登録しましょう</div>
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <img src="/assets/todo.jpg" alt="Description"  class="description-img">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
          <h3 class="input-prof">プロフィールのすべての項目の登録をお願いします</h3>
          <div class="to-prof-edit">
          <%= button_to 'プロフィールを登録する', edit_user_path(current_user.id), method: :get %>
          </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div><%= render :partial => "target", :collection => @targets %></div>
    </div>
  </div>

  <div class="container">
    <%= paginate(@targets) %>
  </div>
<% end %>