<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-7 tsk-dscrptn">
      <div><p>Taskを編集してください</p></div>
      <div><img src="/assets/task.jpg" alt="Task"></div>
    </div>
    <div class="col-xs-12 col-md-5 task-form">
      <%= form_for @task, :url => {:action => 'update'} do |f| %>
        <div>
          <%= f.text_field :name, placeholder: 'Task名', maxlength: '200' %>
        </div>
        <div>
          <%= f.text_area :text, placeholder: 'メモ',  cols: "30", rows: "10" %>
        </div>
        <div>
          <%= f.submit "登録" %>
        </div>
      <% end %>
    </div>
  </div>
</div>