<div class="container">
 <div class="row">
  <div class="col-xs-12 col-md-3 text-center">
    <h2 class="targetname"><%= link_to "#{@target.name}", targets_path %></h2>
    <div style="margin-top: 15px;">
      <%= button_to "Taskを追加する", new_target_task_path(@target.id), method: :get %>
    </div>
  </div>
  <div class="col-xs-12 col-md-9 task-field">
    <div class="rail-sortable">
      <%= render :partial => "task", :collection => @tasks.order(created_at: :ASC) %>
    </div>
    <% if @tasks_achieved == true %>
      <h3 class="task-otsu">「<%= @target.name %>」達成！お疲れさまでした！</h3>
    <% else %>
      <h3 class="task-otsu"></h3>
    <% end %>
    </div>
  </div>
 </div>
</div>
