<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2 class="created">プロフィールの登録が完了しました</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="to-home">
        <%= button_to "ホームに戻る", root_path, method: :get %>
      </div>
    </div>
</div>