<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2 class="created">Todoを登録しました。</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="to-input">
          <%= button_to "次のTodoを入力する", new_target_task_todo_path(@task.target_id, @task.id), method: :get %>
      </div>
      <div class="to-list">
        <%= button_to "Todo一覧に戻る", target_task_todos_path, method: :get %>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="to-input">
        <%= button_to "次のTaskを入力する", new_target_task_path(@task.target_id), method: :get %>
      </div>
      <div class="to-list">
        <%= button_to "Task一覧に戻る", target_tasks_path, method: :get %>
      </div>
    </div>
  </div>
</div>

