body {
  background-color: #eff0f1;
  margin-top: 80px;
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
}

.overflow-hidden {
  overflow: hidden;
  word-break: break-all;
}


.text-center {
  margin-left: auto;
  margin-right: auto;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.bar-logo {
  font-size: 250%;
}

.to-input {
  text-align: center;
  margin: 10px auto;
}

.to-input-target {
  text-align: center;
  margin: 10px auto;
  width: 50%;
}

.to-home {
  text-align: center;
  margin: 10px auto;
  width: 50%;
}


.to-list {
  text-align: center;
  margin: 10px auto;
}

.created {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.list-button {
  float: left;
  margin-right: 1%;
  margin-left: 8%;
  width: 50%;
  font-size: 70%;
}

.edit-button {
  float: left;
  margin-right: 1%;
  width: 20%;
  font-size: 70%;
}

.delete-button {
  float: left;
  width: 20%;
  font-size: 70%;
}

.button-position {
  position: absolute;
  top: 260px;
  right: 10px;
  left: 10px;
}

.rail-arrow {
  width:  7.5%;
  margin: 0 auto;
  min-width: 40px;
  min-height: 41px;
}


.targetname {
  margin-bottom: 2px;
  padding: 5px;
  background-color: #00bfff;
  border-radius: 5px;
  text-align: center;
}

.targetname a {
  color: #fff;
}

.targetname a:hover{
  color: #808080;
  opacity: 0.8;
}

.taskname {
  margin-top: 2px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #ffa500;
  border-radius: 5px;
  text-align: center;
}

.taskname a {
  color: #fff;
}

.taskname a:hover{
  color: #808080;
  opacity: 0.8;
}
